.coverage
.env
.mypy_cache
.nyc_output
.parcel-cache
.ruff_cache
.secrets
.venv
allure/
bak/
coverage/
coverage.*
ctrf/
dist/
htmlcov/
/screenshots/
tmp/
/meta.json
__pycache__/
node_modules
ankiwanikanisync.zip
